/*Make Internet Explorer implement some CSS3 elements by using CSSPie. Visit http://css3pie.com to obtain the latest version and for more information*/
#wrapper, p.intro, .cutoutright, footer input#searchbutton, footer input#term, #content ul.images img, ul.images-enlarge img, ul.images-enlarge span{
behavior: url(assets/pie/PIE.htc); 
position:relative;
}
/*CSS3Pie needs us to apply a background colour to elements with a box-shadow if they don't already have one*/
#wrapper{
background:#e6eff3;
margin-top:0; 
}
nav#main{
background:#6db3cd;
}
nav#main a{
background:#447b8a;
}
/*required to make Pie work in IE8 and lower, add any elements where CSS3Pie is applied in the main stylesheet*/
nav#main a:link, nav#main a:visited, footer{
position:relative;
}
/*using position:absolute and a negative margin to move the link off the screen breaks the layout in in IE8 and lower so instead we'll use display:none to hide the link and display:block to bring it back on */
#access a{
display:none;
}
#access a:active, #access a:hover, #access a:focus{
display:block;
}
/*IE8 and lower has trouble rendering rgba colours, even with CSS3Pie and ignores the opacity, therefore we'll use a hex colour that is approximately the same*/
.cutoutright{
box-shadow: 0 0 5px #a8b0b5;
}
#content ul.images img, ul.images-enlarge img{
box-shadow: 0 0 6px #9da6aa;
}
.cutoutright img{
box-shadow: 0 1px 6px #9da6aa;
}
